<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>

<body>
    <p>Dear $$USERNAME$$,</p>

    <p>We received a request to reset your password for your account associated with the username $$USERNAME$$. To proceed with the password reset, please click on the following link:</p>

    <p>
        Reset Link: <a href="https://epublib.co.id/reset-password/$$RESET_TOKEN_ID$$?token=$$TOKEN$$">https://epublib.co.id/reset-password/$$RESET_TOKEN_ID$$?token=$$TOKEN$$</a>
    </p>

    <p>Please note that this link is valid for a limited time. If you did not initiate this password reset request, you can safely ignore this email, and your account will remain secure.</p>

    <p>If you encounter any issues or have further questions, feel free to contact our support team at <a href="mailto:support@epublib.co.id">support@epublib.co.id</a>.</p>

    <p>Best regards,</p>

    <p>Epublib ERP<br>
        [Contact Information]</p>
</body>

</html>
41007301-f4e8-4f16-bf29-86de67246b27
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzdXBlcmFkbWluQG1hc2tpdC5jby5pZCIsImF1ZCI6WyJtYXNraXQtZXJwIl0sImV4cCI6MTcwMTE4MDA0NCwiaWF0IjoxNzAxMDkzNjQ0LCJhdXRoIjp7ImlkIjoiNDU5ZTQxMTgtNmQwMi00NWQwLTk0YTctZGI1Mzc1ZGJjODZkIiwidXNlcl9pZCI6ImM5YTBhMTY0LTIzZTAtNGQ1Yy05YjA2LTdlMTQ5YmI3Nzk1NCIsInVzZXJuYW1lIjoic3VwZXJhZG1pbiIsInBhc3N3b3JkIjoiMGY4NzNmYzgwNWUyZmQxZjc5OGI1OTRhZTU4MmJkYWU3Njk1MmFhMjkxNjk3NTUwOTUzNjg4ZjY4MjU1NDU0ZiIsImVtYWlsIjoic3VwZXJhZG1pbkBtYXNraXQuY28uaWQiLCJsZXZlbCI6IlN1cGVyIEFkbWluIiwiY3JlYXRlZF9hdCI6IjIwMjMtMTEtMTRUMjE6MTA6MzIuNzg0MzU4KzA3OjAwIiwidXBkYXRlZF9hdCI6IjIwMjMtMTEtMTRUMjE6MTA6MzIuNzg0MzU4KzA3OjAwIiwiZGVsZXRlZF9hdCI6IjAwMDEtMDEtMDFUMDA6MDA6MDBaIn19.SsvhaHONQaqZHWUMJYSO1LN7G0CEuXaGbZGFsf0QW2w